proprietary
tools
config.Makefile
config.rb
lib/einarc/build-config.rb
doc/NEWS
doc/VERSION
doc/man
doc/xhtml
.yardoc
doc/yard
debian/einarc.debhelper.log
debian/einarc.substvars
debian/einarc/
debian/files
build-ruby-stamp
